# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos locales de Prisma
/server/prisma/dev.db
/server/prisma/dev.db-journal
coverage/

# Variables de entorno
.env
.env.local
.env.production
server/.env
client/.env